---
import { images } from "../data/images";

const {
  variant = "white",
  class: className = "",
} = Astro.props;

const src =
  variant === "black" ? images.brand.logoBlack : images.brand.logoWhite;
---

<a href="/" class:list={["inline-block shrink-0", className]}>
  <img
    src={src}
    alt="AELION"
    class="h-[4.5rem] w-auto md:h-24 lg:h-36"
    width="1982"
    height="2090"
    decoding="async"
  />
</a>
